{% extends 'userindex.html' %}
{% block contents %}
<div class="row">
    {% for i in data %}
    <div class="col-mb-6">
    <div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="offer-deal text-center px-2 px-lg-5">
                <div class="img"><img src="{{i.Image.url}}" style="width: 250px; height: 250px;"></div>
                <div class="text mt-4">
                    <h3 class="mb-4" style="color: #634f54; width: 100px;height: 100px; padding-top: 50px;">{{i.Cat_Name}}</h3>
                    <a href="{% url 'cat_viewmore' id=i.id %}"><button style="width:300px;height: 100px;">Check this</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}