{% extends 'userindex.html' %}
{% block contents %}
<div class="row">
    <div class="col-lg-8" >
    <div class="container" >
        <div class="row no-gutters">
            {% for i in data %}
            <div class="col-md-4 d-flex align-items-stretch" style="padding-left: 630px;">
             <div class="offer-deal text-center px-2 px-lg-5"  style="width: 500px;">
                <div><img src="{{i.Images.url}}" style="width: 400px;height: 400px;"></div>
                <div class="text mt-4">
                    <div >
                    <h3  style="font-size: 70px;  color: black;">{{i.Service_Name}}</h3>
                    <p class="mb-4" style=" color: black;font-size: 26px;  ">Category Name: {{i.category}}</p>
                    <p class="mb-5" style="color: #360c15;font-size: 45px;">Price: Rs.{{i.Price}}</p>
                    <p><a href="{% url 'booking' id=i.id %}" class="btn btn-white px-4 py-3" style="font-size: 40px; width: 360px;"> Book An Appoinment<span class="ion-ios-arrow-round-forward"></span></a></p>
                    </div>
                </div>
             </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endblock %}








